@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter e anta */
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #0d1b2a;
  --color-text: #ffffff;
  --color-highlight: #4fd1c5;
  --color-button: #319795;
  --color-button-hover: #38b2ac;
  --color-text-secondary: #94a3b8;
}

body {
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-family: "Anta", "Orbitron", "Segoe UI", "Roboto", sans-serif;
  color: var(--color-text);
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5,
h6 {
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  font-weight: 600;
  text-align: center;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.875rem;
}
h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  font-weight: 400;
}

button {
    font-size: 1.25rem;
    font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    color: var(--color-text);
    font-weight: 500;
    cursor: pointer;
}

button:hover {
  background-color: var(--color-button-hover);
}

nav {
  position: absolute;
  top: 50px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

